body{
    background: linear-gradient(black grey);
}
.col{
    margin: 0em;
    padding: 0em;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    margin: auto;
}
.nav  li{
    text-decoration: none;
    list-style: none;

}
.nav  li a{
    color: black;
    text-decoration: none;
    font-size: 1em;

}
.col h5{
    display: block;
    align-items: center;
}