*{
    margin: 0;
    padding: 0;

}

body {
    overflow: auto;
}


.containeraftercaraosel{
    display: flex;
    flex-direction: row;
    padding: 4px;
    margin: 4px 4px;
    /* align-items: center; */
    flex-wrap: wrap;
    
   align-items: center;

    
 


}
.rows-container{
  margin: 2em;
  display: flex;
  align-items: center;

}

/* @media only screen and (max-width: 606px) {
    .containeraftercaraosel{
flex-direction: column;
justify-content: space-around;
flex-wrap: wrap;
}
  }
  @media only screen and (max-width: 582px) {
      .containeraftercaraosel{
          align-items: center;
      }
  }
  @media only screen and (min-width:1502px ) {
    .containeraftercaraosel{
       justify-content: space-evenly;
    }  
  } */
